@font-face {
  font-family: 'poppins-regular';
  src: url('./fonts/poppins-webfont/poppins-regular-webfont.woff')
      format('woff'),
    url('./fonts/poppins-webfont/poppins-regular-webfont.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'poppins-semibold';
  src: url('./fonts/poppins-webfont/poppins-semibold-webfont.woff')
      format('woff'),
    url('./fonts/poppins-webfont/poppins-semibold-webfont.woff2')
      format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'opensans';
  src: url('./fonts/opensans-webfont/opensans-regular-webfont.woff')
      format('woff'),
    url('./fonts/opensans-webfont/opensans-regular-webfont.woff2')
      format('woff2');
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  overflow: auto;
  word-break: keep-all;
  overflow-wrap: normal;
  hyphens: none;
  -moz-hyphens: none;
  -webkit-hyphens: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: 'opensans', sans-serif;
  color: white;
  font-size: 18px;
}

h1 {
  font-family: 'poppins-semibold', sans-serif;
}

h2,
h3 {
  font-family: 'poppins-regular', sans-serif;
}

button {
  border: none;
  color: hsl(257, 40%, 49%);
  font-size: 1rem;
  box-shadow: 2px 3px 10px rgb(37, 37, 37);
}

button:link,
button:visited {
  background-color: white;
  color: hsl(257, 40%, 49%);
}

button:active,
button:hover,
button:focus {
  background-color: hsl(300, 69%, 71%);
  color: white;
}

footer a {
  text-decoration: none;
}

.attribution > a:link,
.attribution > a:visited {
  /* background-color: hsl(360, 69%, 71%); */
  color: white;
  border-bottom: 0.2rem solid hsl(300, 69%, 71%);
}

.attribution > a:hover,
.attribution > a:active,
.attribution > a:focus {
  /* background-color: hsl(300, 69%, 71%); */
  color: white;
  border-bottom: 0.2rem solid hsl(300, 69%, 71%);
}

/* Mobile Layout
Flexbox Version */
@media screen and (max-width: 44rem) {
  body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    min-inline-size: 100%;
    max-inline-size: 50rem; /* 750px */
    background-color: hsl(257, 40%, 49%);
    background-image: url('./images/bg-mobile.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
    padding: 5% 10%;
    margin: 0 auto;
    word-spacing: 1.0625;
    line-height: 1.5;
  }

  #logo {
    margin-top: 5%;
    align-self: flex-start;
    inline-size: 40%;
  }

  .layouts {
    inline-size: 100%;
    margin: 12.5% 0 0;
  }

  .landing {
    margin: 12.5% 0 0;
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: stretch;
    align-items: center;
  }

  .landing p {
    margin: 0 0 2.5%;
  }

  button {
    margin: 5% 0 10%;
    inline-size: 65%;
    max-inline-size: 200px;
    block-size: 2.75rem;
    border-radius: 25px;
    text-align: center;
  }

  .icons {
    margin: 7.5% 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .icons > a {
    padding: 0 7.5%;
  }

  footer {
    inline-size: 100%;
  }
}

/* Desktop Layout */
@media all and (min-width: 44rem) {
  html {
    min-height: 100%;
  }
  body {
    display: grid;
    min-block-size: 100%;
    min-inline-size: 100%;
    background: url('./images/bg-desktop.svg') no-repeat center center fixed;
    background-color: hsl(257, 40%, 49%);
    background-size: cover;
    grid-template:
      12.5%
      repeat(8, minmax(5%, 12.5%))
      12.5%
      / repeat(10, 10%);
    padding: 5%;
    margin: 0 auto;
    word-spacing: 1.5;
    line-height: 1.5;
  }

  h2 {
    font-size: 1.8rem;
  }

  #logo {
    grid-area: 1 / 1 / 2 / 3;
    justify-self: left;
    inline-size: 70%;
  }

  .layouts {
    grid-area: 3 / 1 / 10 / 6;
    inline-size: 100%;
    align-self: center;
    margin-right: 7.5%;
  }

  .landing {
    grid-area: 3 / 6 / 9 / 11;
    text-align: left;
    margin-left: 7.5%;
    padding: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
  }

  .landing > p {
    margin-block-start: 0;
  }

  button {
    inline-size: 35%;
    max-inline-size: 200px;
    min-block-size: 2.75rem;
    max-block-size: 2.75rem;
    border-radius: 25px;
    text-align: center;
    align-self: start;
  }

  .icons {
    grid-area: 9 / 9 / 10 / 11;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20%;
  }

  .icons > a {
    padding: 0 2.5%;
  }

  footer {
    grid-area: 11 / 1 / 12 / 9;
  }
}

/* Desktop Layout */
@media all and (min-width: 50rem) {
  html {
    min-height: 100%;
  }
  body {
    display: grid;
    min-block-size: 100%;
    max-inline-size: 100%;
    background: url('./images/bg-desktop.svg') no-repeat center center fixed;
    background-color: hsl(257, 40%, 49%);
    background-size: cover;
    grid-template:
      12.5%
      repeat(8, minmax(5%, 12.5%))
      12.5%
      / repeat(10, 10%);
    padding: 5%;
    margin: 0 auto;
    word-spacing: 1.5;
    line-height: 1.5;
  }

  h2 {
    font-size: 2.6rem;
  }

  #logo {
    grid-area: 1 / 1 / 2 / 3;
    justify-self: left;
    inline-size: 70%;
  }

  .layouts {
    grid-area: 3 / 1 / 10 / 6;
    inline-size: 100%;
    align-self: center;
    margin-right: 7.5%;
  }

  .landing {
    grid-area: 3 / 6 / 9 / 11;
    text-align: left;
    margin-left: 7.5%;
    padding: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
  }

  .landing > p {
    margin-block-start: 0;
  }

  button {
    inline-size: 35%;
    max-inline-size: 200px;
    min-block-size: 2.75rem;
    max-block-size: 2.75rem;
    border-radius: 25px;
    text-align: center;
    align-self: start;
  }

  .icons {
    grid-area: 9 / 9 / 10 / 11;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20%;
  }

  .icons > a {
    padding: 0 2.5%;
  }

  footer {
    grid-area: 11 / 1 / 12 / 9;
  }
}
